@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');  @import url('https://fonts.googleapis.com/css2?family=Anton&display=swap'); @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); @import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap'); @import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
 
*{
    margin: 0%;
    padding:0%;
}

body{
    background-image:url(imagens/imagem-de-fundo.jpeg);
    background-position:  left  top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}

:root{
    --cor1:#EF6C24;
    --cor2:#BA4E1F;
    --cor3:#743615;
    --cor4:#30231D;
    --cor5:#1A1817;
    --fonte-padrao:arial, helvetica, sans-serif;
    --fonte-paragrafo:"Fira Sans", sans-serif;
    --fonte-titulo:"Anton", sans-serif;
    --fonte-titulo-dois:"Bebas Neue", sans-serif;
    --fonte-sub-titulos:"PT Sans", sans-serif;
    --font-numeros-um:"Jost", sans-serif;
}

main{
    position: relative;
}

#cabeçalho{
    min-height: 50px;
    max-width: 600px;
    min-width: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 30px;
    margin-top: 15px;
    margin-right: 150px;
    border-radius: 7px;
}

#titulo-cabeçalho{
    font-family:var(--fonte-titulo);
    letter-spacing: 7px;
    color: #ffffff;
    font-size: 8vw;
    text-align: center;
    text-shadow: 10px 10px 10px rgb(0, 0, 0);
    padding-left: 10px;
    padding-right: 15px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 7px;
    font-weight: normal;
}

#div-1{
    background-color: rgba(0, 0, 0, 0);
    margin-left: 20px;
    margin-right:30px ;
    margin-top:-25px ;
    margin-bottom: 90px;
}

#div-2{
    background-color: rgba(0, 0, 0, 0.527);
    box-shadow: 2px 2px 2px 2px rgb(0, 0, 0);
    max-width: 200px;
    min-width: 100px;
    max-height: 40px;
    min-height: 40px;
    margin-left: 40px;
    padding-bottom: 1px;
    padding-top: 3px;
}

#div-3{
    width: 100%;
    margin: auto;
    text-align: center;
}

#span-anos{
    background-color: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
    text-shadow: 2px 1px 0px rgb(0, 0, 0);
    font-family: var(--fonte-paragrafo);
    font-size: 14px;
    margin-left:5px ;
    margin-right: 10px;
}

#span-temporada{
    background-color: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
    text-shadow: 2px 1px 0px rgb(0, 0, 0);
    font-family: var(--fonte-paragrafo);
    font-size: 14px;
    margin-right: 5px;
    letter-spacing: 1px;
}

#span-drama{
    background-color: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 0px rgb(0, 0, 0);
    font-family: var(--fonte-paragrafo);
    font-size: 14px;
    margin-right: 1px;
}

#sapn-suspense{
    background-color: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 0px rgb(0, 0, 0);
    font-family: var(--fonte-paragrafo);
    font-size: 14px;
    margin-right: 1px;
}

#span-crime{
    background-color: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 0px rgb(0, 0, 0);
    font-family: var(--fonte-paragrafo);
    font-size: 14px;
    margin-right: 1px;
}

#primeiro-section{
    max-width:600px;
    min-width: 100px;
    margin-left: 40px;
    margin-top: -40px;
    margin-right: 220px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.822);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.37);
}

#paragrafo-primeiro-section{
    letter-spacing: 1px;
    text-indent: 15px;
    color: #ffffff;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.473);
    font-family: var(--fonte-paragrafo);
    font-size:1.1em ;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 25px;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
}

#div-detalhes{
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.37);
    border-radius: 7px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.836);
    max-width: 800px;
    min-width: 140px;
    margin-left: 65px;
    margin-right: 50px;
    margin-top: -280px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

#titulo-detalhes{
    background-color: #1a1d29a8;
    margin: -10px -15px 0px -15px;
    font-family: var(--fonte-titulo-dois);
    font-size: 3.2vw;
    font-weight: normal;
    padding: 10px;
    box-shadow: 0px 2px 0px 0px  rgb(0, 0, 0);
    text-shadow: 1px 1px 1px black;
    color:#C0C0C0;
    letter-spacing: 2px;
    border-radius: 7px;
}

#sub-titulo-detalhes{
    color: rgba(255, 255, 255, 0.842);
    font-family: var(--fonte-paragrafo);
    font-weight: 500;
    font-size: 2vw;
    margin-left: -10px;
    padding: 10px;
}

#paragrafo-detalhes{
    font-family: var(--fonte-paragrafo);
    font-weight: 400;
    text-indent: 7px;
    letter-spacing: 1px;
    text-align: justify;
    color: rgba(255, 255, 255, 0.733);
    font-size:1.6vi;
}

#div-sub-detalhes{
    position: relative;
    width: 100%;
}

#caixa-duracao-minutos{
    max-width: 90px;
    min-width: 20px;
    margin-top: 30px;
}

#caixa-duracao{
    font-family:var(--fonte-sub-titulos) ;
    color: rgba(255, 255, 255, 0.822);
    font-weight: normal;
    font-size: 1.5vw;
    margin-left: 5px;
}

#caixa-minutos{
    font-family:var(--font-numeros-um);
    color: white;
    font-weight: 500;
    font-size: 1.4vw;
    margin-left: 6px;
    margin-top: -2px;
}

#caixa-data-lançamento{
    font-family:var(--fonte-sub-titulos) ;
    color: rgba(255, 255, 255, 0.822);
    font-weight: normal;
    font-size: 1.3vw;
    margin-left: 5px;
}

#caixa-anos{
    font-family:var(--font-numeros-um);
    color: white;
    font-weight: 500;
    font-size: 1.4vw;
    margin-left: 6px;
    margin-top: -2px;
}

#span-genero{
    right: 35px;
    top: 6px;
    position: absolute;
    font-family:var(--fonte-sub-titulos) ;
    color: rgba(255, 255, 255, 0.822);
    font-weight: normal;
    font-size: 1.3vw;
}

#span-dramaa{
    color: white;
    font-size: 1.4vw;
    font-family:var(--font-numeros-um);
    font-weight: 500;
    position: absolute;
    top: 22px;
    right: 32px;
}

#span-suspense{
    color: white;
    font-size: 1.4vw;
    font-family:var(--font-numeros-um);
    font-weight: 500;
    position: absolute;
    top: 45px;
    right: 16px;
}








