 @import url(estilos/main.css); @import url(estilos/section-notebook.css); @import url(estilos/section-notebook-2.css); @import url(estilos/section-notebook-3.css); @import url(estilos/section-notebook-4.css); @import url(estilos/section-notebook-5.css); @import url(estilos/sessao-notebooks-dia.css); @import url(estilos/propaganda-e-monitores.css); @import url(estilos/font-letras.css);

:root{
    --cor1:#AAF277;
    --cor2:#4CBF2C;
    --cor3:#2E8C14;
    --co03:#135908;
    --cor4:#054902;
    --font-h1: "Overlock", sans-serif;
    --font-h2: "Winky Rough", sans-serif;
    --font-a: "Open Sans", sans-serif;
    --font-titulos:"Inter", sans-serif;
    --font-nome-notebooks:"Russo One", sans-serif;
    --font-paragrafos:"Space Grotesk", sans-serif;
    --font-valores-preços:"Roboto", sans-serif;
    --font-nome-note-dia-dia:"Barlow", sans-serif;
    --font-nome-moitores-gamers: "Rajdhani", sans-serif;
}

*{
    padding: 0px;
    margin: 0px;
}


body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(fundos-imagens/gettyimages-1178169452-640x640.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header{
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor2), var(--cor3), var(--co03), var(--cor4) );
    padding: 20px;
    min-height: 100px;
}

header > h1{
    font-family:var(--font-titulos);
    color: #ff0000;
    text-align: center;
    text-shadow: 3px 3px 4px rgb(0, 0, 0);
    font-size: 3.5em;
    font-weight: bold;
    letter-spacing: 5px;
    margin-bottom: 8px;
    cursor:  context-menu;
}

header > p{
    color: #d8d8d8;
    text-align: center;
    font-size: 1em;
    font-family: var(--font-h2);
    font-weight: bold;
    text-shadow: 1px 0px 0px rgb(0, 0, 0);
    letter-spacing: 1px;
    cursor:  context-menu;
}

.barra-pesquisa{
    display: none;
}

nav{
    padding: 10px 8px 10px 8px;
    background-color: var(--cor4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#container-links-redes-socias{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#container-links-redes-socias> a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    transition: 0.5s;
}

#container-links-redes-socias > a:hover{
    transform: translate(-4px, -4px);
    color: rgb(30, 255, 0);
}

#container-dois-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#container-dois-links > a{
    color: rgb(238, 235, 235);
    text-decoration: none;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.664);
    transition-duration: 0.4s;
    font-family:var(--font-a) ;
    font-size: 15.5px;
}

#container-dois-links > a:hover{
    color: #a8a8a8;
    transform: translateY(-3px); 
}

#container-dois-links > a:active{
    color: #9BEA6C;
    text-shadow: none;
    transform: translateY(3px); 
}

.caixa-detalhes-monitores-gamers{
    display: none;
}


