@import url(font-letras.css);

:root{
    --cor1:#AAF277;
    --cor2:#4CBF2C;
    --cor3:#2E8C14;
    --co03:#135908;
    --cor4:#054902;
    --font-h1: "Overlock", sans-serif;
    --font-h2: "Winky Rough", sans-serif;
    --font-a: "Open Sans", sans-serif;
    --font-titulos:"Inter", sans-serif;
    --font-nome-notebooks:"Russo One", sans-serif;
    --font-paragrafos:"Space Grotesk", sans-serif;
    --font-valores-preços:"Roboto", sans-serif;
    --font-nome-note-dia-dia:"Barlow", sans-serif;
    --font-nome-moitores-gamers: "Rajdhani", sans-serif;
}

*{
    padding: 0px;
    margin: 0px;
}

main{
    background-color: #ff000036;
    max-width: 950px;
    margin: auto;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.514);
}

.caixa-divisão-noteboks-gamers{
    width: 100%;
    height:10px;
    margin-left: -10px;
    padding-right: 20px;
    padding-top:10px;
    background-color:#CACACA;
}

.caixa-divisão-noteboks-gamers-2{
    width: 100%;
    height:10px;
    margin-left: -10px;
    padding-right: 20px;
    padding-top:10px;
    background-color:#DFDEDE ;
}

.caixa-img-1{
    max-width: 260px;
    margin-left: 20px;
}

.caixa-img-2{
    max-width: 260px;
    margin-right: 20px;
}

.caixa-img-1 > img{
    width: 100%;
    margin-bottom: 20px;
 }

.caixa-img-1 > img.pequena{
    max-width: 125px;
    display: block;
    margin: auto;
}

.caixa-img-2 > img{
    width: 100%;
    margin-bottom: 20px;
 }

.caixa-img-2 > img.pequena{
    max-width: 125px;
    display: block;
    margin: auto;
}
