@import url(font-letras.css);

:root{
    --cor1:#AAF277;
    --cor2:#4CBF2C;
    --cor3:#2E8C14;
    --co03:#135908;
    --cor4:#054902;
    --font-h1: "Overlock", sans-serif;
    --font-h2: "Winky Rough", sans-serif;
    --font-a: "Open Sans", sans-serif;
    --font-titulos:"Inter", sans-serif;
    --font-nome-notebooks:"Russo One", sans-serif;
    --font-paragrafos:"Space Grotesk", sans-serif;
    --font-valores-preços:"Roboto", sans-serif;
    --font-nome-note-dia-dia:"Barlow", sans-serif;
    --font-nome-moitores-gamers: "Rajdhani", sans-serif;
}

*{
    padding: 0px;
    margin: 0px;
}


#paragrafo-caixa-descrição-notebook-acer-nitro{
    color: rgb(41, 41, 41);
    text-align: justify;
    text-indent: 10px;
    font-size: 14px;
    font-family: var(--font-paragrafos);
    padding-bottom: 10px;
    line-height: 20px;
}

#caixa-valor-descrição-notebook-acer-nitro{
    margin-top: -10px;
    padding: 10px;
    background-color: #CACACA;
    border-radius: 5px;
    width: 200px;
}

#h2-titulo-valor-descrição-acer-nitro{
    color: #6b6b6b;
    font-size: 15px;
    font-weight: bold;
    font-family: var(--font-valores-preços);
    text-decoration: line-through;
}

#p-paragrafo-valor-descrição-acer-nitro{
    font-size: 13px;
    font-family: var(--font-valores-preços);
    padding-top: 1px;
}
