@import url(font-letras.css);

:root{
    --cor1:#AAF277;
    --cor2:#4CBF2C;
    --cor3:#2E8C14;
    --co03:#135908;
    --cor4:#054902;
    --font-h1: "Overlock", sans-serif;
    --font-h2: "Winky Rough", sans-serif;
    --font-a: "Open Sans", sans-serif;
    --font-titulos:"Inter", sans-serif;
    --font-nome-notebooks:"Russo One", sans-serif;
    --font-paragrafos:"Space Grotesk", sans-serif;
    --font-valores-preços:"Roboto", sans-serif;
    --font-nome-note-dia-dia:"Barlow", sans-serif;
    ---font-nome-moitores-gamers: "Rajdhani", sans-serif;
}

*{
    padding: 0px;
    margin: 0px;
}

#caixa-divisão{
    width: 100%;
    height:10px;
    margin-left: -10px;
    padding-right: 20px;
    padding-top:10px;
    background-color: #152501;
}

.caixa-divisão-2{
    width: 100%;
    height:10px;
    margin-left: -10px;
    padding-right: 20px;
    padding-top:10px;
    background-color: #F5F5F5;
}

.caixa-valor-descrição-notebooks-dia-a-dia{
    margin-top: 7px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #2bff00;
    border-radius: 5px;
    border: 2px solid black;
    width: 200px;
    cursor: pointer;
}

.caixa-valor-descrição-notebooks-dia-a-dia:hover{
    transition-duration: 0.5s;
    text-shadow: 1px 1px 1px rgba(255, 255, 0, 0.986);
    background-color: #ffffff;
    border: 2px solid #F7D10A;
}

#sessao-notebooks-dia-a-dia{
    background-color: #F5F5F5;
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.514);
}

#sessao-titulo-note-dia-dia{
    color: #000000;
    padding-top: 5px;
    font-family:var(--font-titulos);
    font-weight:bold;
    font-size: 2em;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    text-align: center;
    letter-spacing: 1px;
    margin-top: -20px;
    border-top-left-radius:5px ;
    border-top-right-radius:5px ;
}

#sessao-sub-titulo-note-dia-dia{
    color: #000000b9;
    font-family: var(--font-h2);
    font-size: 1em;
    font-weight: normal;
    margin-top: -2px;
    padding-bottom: 25px;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.829);
}

.titulos-notebooks-dia-dia{
    color: rgb(0, 0, 0);
    margin-left:-10px ;
    margin-right: -10px;
    padding-top: 15px;
    padding-left: 20px;
    padding-bottom: 5px;
    font-family: var(--font-nome-note-dia-dia);
    font-size: 1.3em;
    font-weight: bold;
    text-align: left;
    text-shadow: 2px 2px 3px rgb(255, 255, 255);
    letter-spacing: 1px;
    background-image: linear-gradient( #adabab, transparent);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.titulos-modelos{
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: normal;
    text-shadow: 2px 2px 2px rgb(255, 255, 255);
    text-indent: 16px;
    letter-spacing: 0.5px;
}

.caixa-descrição-notebooks-dia-dia{
    background-color: #F5F5F5;
    margin-left:-10px ;
    margin-right: -10px;
    padding: 10px;
    margin-bottom: 20px;
    background-image: linear-gradient( to top, #adabab98, transparent);
}

p.descrição-notebooks-dia-dia{
    color: rgb(0, 0, 0);
    line-height: 20px;
    text-align: justify;
    margin-left: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    font-family: var(--font-paragrafos);
}

p.descrição-notebooks-dia-dia > strong{
    color: rgb(0, 0, 0);
    font-size: 16px;
}

.h2-titulo-valor-descrição-note-dia-a-dia{
    color: #6b6b6b;
    text-shadow: 1px 1px 1px white;
    font-size: 15px;
    font-weight: bold;
    font-family:var(--font-valores-preços) ;
    text-decoration: line-through;
}

.h1-titulo-valor-acer-dia-a-dia{
    margin-top: -6px;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 1px white;
    font-size:1.4em ;
    font-weight: bold;
    font-family: var(--font-valores-preços);
}

.p-paragrafo-valor-descrição-dia-a-dia{
    font-size: 13px;
    font-family: var(--font-valores-preços);
    padding-top: 1px;
}

.sections-note-imagens{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 10px;
    background-color: #F5F5F5;
    border-radius: 2px;
    margin-left:-10px ;
    margin-right: -10px;
}

.sections-note-imagens > .caixa-img-2 {
    display: none;
}

